/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.categories__list {
  display: -ms-grid;
  display: grid;
  padding: 0;
  margin: 0;
  list-style: none;
  row-gap: 1px;
}

.categories__item {
  position: relative;
}

.category {
  position: relative;
  display: -ms-grid;
  display: grid;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100%;
  font-family: "Futura", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  color: #ffffff;
  background-color: #18191d;
}

.category__inner {
  position: relative;
  display: -ms-grid;
  display: grid;
}

.category__text-column {
  z-index: 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 2 / 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
}

.category__heading {
  position: absolute;
  margin: 0 0 10px;
  text-align: center;
  font-size: 28px;
  line-height: 36px;
  font-weight: 500;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  opacity: 0;
  pointer-events: none;
}

.category__list {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  display: none;
  padding: 0;
  margin: auto 0 0;
  list-style: none;
  text-transform: uppercase;
}

.category__link-wrapper--mobile {
  margin: 0 0 auto;
}

.category__link-wrapper--desktop {
  display: none;
  margin: 0 0 40px;
}

.category__image-column {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 2 / 2;
}

.category__image-wrapper {
  position: relative;
  display: block;
  overflow: hidden;
}

.category__image-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition: background-color 200ms ease-out;
  -o-transition: background-color 200ms ease-out;
  transition: background-color 200ms ease-out;
}

.category__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-transition-property: -webkit-filter;
  transition-property: -webkit-filter;
  -o-transition-property: filter;
  transition-property: filter;
  transition-property: filter, -webkit-filter;
  -webkit-transition-duration: 200ms;
       -o-transition-duration: 200ms;
          transition-duration: 200ms;
  -webkit-transition-timing-function: ease-out;
       -o-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.button {
  display: inline-block;
  min-width: 130px;
  padding: 13px 20px 12px;
  border: 1px solid #ffffff;
  border-radius: 2px;
  text-align: center;
  font-family: "Futura", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  -webkit-transition-property: color, background-color;
  -o-transition-property: color, background-color;
  transition-property: color, background-color; 
  -webkit-transition-duration: 200ms; 
       -o-transition-duration: 200ms; 
          transition-duration: 200ms;
  -webkit-transition-timing-function: ease-out;
       -o-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.button--big {
  min-width: 174px;
  padding-top: 9px;
  padding-bottom: 8px;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0.09em;
}

.category:hover .button {
  color: #3e424b;
  background-color: #ffffff;
}

.category:hover .category__image-wrapper::after {
  background-color: rgba(40, 40, 40, 0.4);
}

.category:hover .category__image {
  -webkit-filter: blur(4.5px);
          filter: blur(4.5px); 
}

@media (max-width: 659px) {
  .category__image {
    -webkit-transition-property: -webkit-transform, -webkit-filter;
    transition-property: -webkit-transform, -webkit-filter;
    -o-transition-property: transform, filter;
    transition-property: transform, filter;
    transition-property: transform, filter, -webkit-transform, -webkit-filter;
  }

  .category:hover .category__image {
    -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
            transform: scale(1.3);
  }
}

@media (min-width: 500px) {
  .category__text-column {
    padding-top: 40px;
  }

  .category__heading {
    position: static;
    opacity: 1;
  }

  .category__link-wrapper--mobile {
    display: none;
  }

  .category__link-wrapper--desktop {
    display: inline-block;
  }
}

@media (min-width: 660px) {
  .categories__list {
    position: relative;
    display: block;
  }

  .categories__list::before {
    content: "";
    display: block;
    width: 100%;
    padding-top: 34.7%;
  }

  .categories__item {
    position: absolute;
    top: 0;
    width: calc(50% - 1px);
    height: 100%;
    -webkit-transition: width 200ms ease-out;
    -o-transition: width 200ms ease-out;
    transition: width 200ms ease-out;
  }

  .categories__item:nth-child(1) {
    left: 0;
    -webkit-filter: drop-shadow(2px 0 0 #ffffff);
            filter: drop-shadow(2px 0 0 #ffffff);
  }

  .categories__item:nth-child(2) {
    right: 0;
    -webkit-filter: drop-shadow(-2px 0 0 #ffffff);
            filter: drop-shadow(-2px 0 0 #ffffff);
  }

  .category__image-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }

  .categories__item:hover {
    z-index: 3;
    width: 64%;
  }
}

@media (min-width: 768px) {
  .category__text-column {
    padding-bottom: 40px;
  }

  .categories__list::before {
    padding-top: 50%;
  }
}

@media (min-width: 1024px) {
  .category__list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto 45px auto 45px auto;
    grid-template-columns: repeat(3, auto);
    gap: 20px 45px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    -webkit-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: 200ms;
         -o-transition-duration: 200ms;
            transition-duration: 200ms;
    -webkit-transition-timing-function: ease-out;
         -o-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
  }

  .category__list-item {
    max-width: 114px;
  }

  .categories__list:hover .category__list {
    opacity: 0;
  }

  .category:hover .category__list {
    opacity: 1;
  }
}

@media (min-width: 1280px) {
  .category {
    font-size: 18px;
    line-height: 25px;
  }

  .category__text-column {
    padding-right: 40px;
    padding-bottom: 60px;
    padding-left: 40px;
  }

  .category__heading {
    font-size: 40px;
    line-height: 53px;
  }

  .category__list {
    -webkit-column-gap: 60px;
       -moz-column-gap: 60px;
            column-gap: 60px;
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    -o-transition-property: opacity, transform;
    transition-property: opacity, transform;
    transition-property: opacity, transform, -webkit-transform;
    -webkit-transition-delay: 0s, 200ms;
         -o-transition-delay: 0s, 200ms;
            transition-delay: 0s, 200ms;
  }

  .category__list-item {
    max-width: 147px;
  }

  .categories__item:nth-child(1) .category__list {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }

  .categories__item:nth-child(2) .category__list {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }

  .categories__item:nth-child(1) .category:hover .category__list {
    -webkit-transform: translateX(-150px);
        -ms-transform: translateX(-150px);
            transform: translateX(-150px);
  }

  .categories__item:nth-child(2) .category:hover .category__list {
    -webkit-transform: translateX(150px);
        -ms-transform: translateX(150px);
            transform: translateX(150px);
  }
}

@media (min-width: 1420px) {
  .category__text-column {
    padding-right: 54px;
    padding-left: 54px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  margin: -1px;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}